<header>
  <a [routerLink]="['/chat']">
  <div class="hed-title">мійЧат Angular</div>
  </a>
  <div class="hed-dtn-wraper">
    <!-- <button (click)="addPost()" *ngIf="!enterStatus" id="add-post" type="button">Написати повідомлення</button> -->
    <button (click)="signIn()" *ngIf="enterStatus" id="add-post" type="button">Увійти</button>
    <button *ngIf="adminStatus" id="user-name" type="button">{{name}}</button>

    <button (click)="signUp()" *ngIf="enterStatus" id="sign-out" type="button">Зареєструватися</button>

    <a [routerLink]="['/']">
      <button (click)="signOut()" *ngIf="!enterStatus" id="sign-out" type="button">Вийти з аккаунта</button>
    </a>
  </div>
</header>
<ng-container>
  <form>
    <div *ngIf="signInWindow" class="modal-window-wraper">
      <div class="modal-window">
        <h3 class="modal-title">Увійти</h3>
        <span>Електронна пошта:</span>
        <input [(ngModel)]="email" name="email" id="em" type="email" required>
        <span>Пароль:</span>
        <input [(ngModel)]="password" name="password" id="paswd" type="password" required>
        <p class="modal-btn-wraper">
          <a [routerLink]="['/']">
            <button (click)="signIn()" type="button" id="close">Закрити</button>
          </a>
            <button (click)="signInSubmit()" type="button" id="signInSubmit">
              Увійти</button>
        </p>
      </div>
    </div>
  </form>
</ng-container>
<ng-container>
  <div *ngIf="hello" class="modal-window-wraper">
    <div class="modal-window">
      <h3 class="modal-title">Вітаю {{name}} !</h3>
      <h4>Почнемо спілкування?</h4>
      
        <a [routerLink]="['/chat']">
        <button (click)="goChat()" class="btn">ТАК!</button>
         </a>
     
    </div>

  </div>
</ng-container>

<ng-container>
  <div *ngIf="signUpWindow" class="modal-window-wraper">
    <div class="modal-window">
      <h3 class="modal-title">Зареєструватися</h3>
      <span>Ім'я користувача:</span>
      <input [(ngModel)]="userName" name="userName" id="log" log type="text">
      <span>Електронна пошта:</span>
      <input [(ngModel)]="email" name="email" id="em" type="email">
      <span>Пароль:</span>
      <input [(ngModel)]="password" name="password" id="paswd" type="password">
      <p class="modal-btn-wraper">
        <a [routerLink]="['/']">
          <button (click)="signUp()" type="button" id="close">Закрити</button>
        </a>
        <button (click)="signUpSubmit()" type="button" id="submit">Увійти</button>
      </p>
    </div>
  </div>
</ng-container>