<header>
    <div class="hed-title">мійЧат Angular</div>
  <div class="hed-dtn-wraper">
    <button (click)="addPost()" *ngIf="!enterStatus" id="add-post" type="button">Написати повідомлення</button>
    <a [routerLink]="['/chat']">
    <button (click)="signIn()" *ngIf="enterStatus" id="add-post" type="button">Увійти</button>
    </a>
    <button *ngIf="adminStatus" id="user-name" type="button">{{name}}</button>
    <a [routerLink]="['/chat']">
    <button (click)="signUp()" *ngIf="enterStatus" id="sign-out" type="button">Зареєструватися</button>
    </a>
    <a [routerLink]="['/']">
    <button (click)="signOut()" *ngIf="!enterStatus" id="sign-out" type="button">Вийти з аккаунта</button>
    </a>
  </div>
</header>
<ng-container>
  <form>
    <div *ngIf="signInWindow" class="modal-window-wraper">
      <div class="modal-window">
        <h3 class="modal-title">Увійти</h3>
        <span>Електронна пошта:</span>
        <input [(ngModel)]="email" name="email" id="em" type="email" required>
        <span>Пароль:</span>
        <input [(ngModel)]="password" name="password" id="paswd" type="password" required>
        <p class="modal-btn-wraper">
          <button (click)="signIn()" type="button" id="close">Закрити</button>
          <button (click)="signInSubmit()" type="button" id="submit">Увійти</button>
        </p>
      </div>
    </div>
  </form>
</ng-container>

<ng-container>
  <div *ngIf="signUpWindow" class="modal-window-wraper">
    <div class="modal-window">
      <h3 class="modal-title">Зареєструватися</h3>
      <span>Ім'я користувача:</span>
      <input [(ngModel)]="userName" name="userName" id="log" log type="text">
      <span>Електронна пошта:</span>
      <input [(ngModel)]="email" name="email" id="em" type="email">
      <span>Пароль:</span>
      <input [(ngModel)]="password" name="password" id="paswd" type="password">
      <p class="modal-btn-wraper">
        <button (click)="signUp()" type="button" id="close">Закрити</button>
        <button (click)="signUpSubmit()" type="button" id="submit">Увійти</button>
      </p>
    </div>
  </div>
</ng-container>