@import '../shared/styles/reset';
@import '../shared/styles/_variables.scss';

header {
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000000;
  border-radius: 0px;
  height: 60px;
  padding: 0px 20px;
}

.hed-title {
  color: white;
  font-weight: bolder;
  font-family: $main-font;
}

#add-post,
#user-name,
#sign-out,
.btn {
  width: 150px;
  height: 40px;
  border-radius: 0px;
  background-color: black;
  transition-duration: 0.3s;
  margin-left: 5px;
  cursor: pointer;
  font-family: $main-font;
}

#add-post {
  border: 2px solid $firct-col;
  color: $firct-col;
}

#add-post:hover {
  border: 2px solid rgb(255, 255, 255);
  background-color: $firct-col;
  color: rgb(255, 255, 255);
}

#user-name,
.btn {
  color: rgb(255, 255, 255);
  background: linear-gradient(90deg, rgba(0,95,255,1) 0%, rgba(255,235,0,1) 100%);
}

.btn{
  width: 100%;
}

#sign-out {
  border: 2px solid $sec-col;
  color: $sec-col;
}

#sign-out:hover {
  border: 2px solid rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  background-color: $sec-col;
}

.hed-dtn-wraper {
  display: inline-flex;
  justify-content: center;
}

.modal-window-wraper {
  width: 100%;
  height: 100%;
  background: radial-gradient(circle, rgba(255, 255, 255, 0.368) 59%, rgba(173, 173, 173, 0.73) 100%);
  display: flex;
  flex-direction: column;
  font-family: $main-font;
  align-items: center;
  position: absolute;
  left: 0px;
  top: 0px;
  justify-content: center;
}

.modal-window {
  width: 500px;
  height: 350px;
  background: radial-gradient(circle, rgba(255, 255, 255, 1) 59%, rgba(173, 173, 173, 1) 100%);
  box-shadow: 0px 0px 7px 1px #636363;
  padding: 10px 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.modal-title {
  font-size: 25px;
  height: 50px;
  font-family: $sec-font;
  border-bottom: 3px solid #999999;
  border-radius: 0px;
}

input{
  height: 35px;
  background: radial-gradient(circle, white 34%, #bebebe 100%);
  box-shadow: 0px 0px 7px 1px #8d8d8d;
  outline: none;
  padding-left: 5px;
  font-size: 17px;
}

input:focus{
  box-shadow: 0px 0px 7px 3px #ffffff;
  background-color: #afafaf80;
}

.modal-btn-wraper {
  height: 60px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}



#submit:disabled,
#signInSubmit:disabled  {
  cursor: not-allowed;
  color: #ffffffb4;
  background-color: rgba(112, 112, 112, 0.438);
}

#btn-edit,
#btn-delete,
#close,
#submit,
#signInSubmit {
  width: 70px;
  height: 30px;
  transition-duration: 0.3s;
  cursor: pointer;
  font-family: $sec-font;
}

#btn-edit,
#close {
  background-color: $firct-col;
  color: #ffffff;
}

#btn-edit:hover,
#close:hover {
  color: $sec-col;
  background-color: $firct-col;
  box-shadow: 0px 0px 3px 0px $firct-col;
}

#submit,
#signInSubmit {
  margin-left: 5px;
  background-color: $sec-col;
}
