@import '../../shared/styles/_reset.scss';
@import '../../shared/styles/_variables.scss';

.container {
  height: 100%;
  box-shadow: 0px 0px 10px 5px #d5d5d5;
  margin: 20px 20px 20px 30px;
  padding: 40px;
}

.message-box {
  width: 100%;
  font-family: $main-font;
  background: radial-gradient(circle, white 34%, #bebebe 100%);
  box-shadow: 0px 0px 10px 5px #d5d5d5;
  border-radius: 10px;
  padding: 20px 40px;
}

.box-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.box-header ~ p{
   margin-top: 20px;
}