@font-face{
   font-family: 'Jura';
   src:url('../styles/fonts/Jura/static/Jura-SemiBold.ttf');
}

@font-face{
   font-family: 'Neucha';
   src:url('../styles/fonts/Neucha/Neucha-Regular.ttf');
}
@font-face{
   font-family: 'Montserrat';
   src:url('../styles/fonts/Montserrat_Alternates/MontserratAlternates-Light.ttf');
}



$main-shadow:rgb(22, 22, 22);
$main-font:'Jura';
$sec-font:'Neucha';
$third-font:'Montserrat';
$firct-col:rgb(20, 114, 255);
$sec-col: rgb(238, 215, 7);
