@font-face{
   font-family: 'banhij';
   src:url('../styles/fonts/bahij-sultannahia.ttf');
}

@font-face{
   font-family: 'ChronicaPro';
   src:url('../styles/fonts/ChronicaPro-Regular.ttf');
}


$main-shadow:rgb(22, 22, 22);
$main-font:'banhij';
$sec-font:'ChronicaPro';
